<h2>Add Stocks To Track</h2>

<form class="form-inline">
  <div class="form-group">
    <label for="nameStock">Stock:</label>
    <input ng-click="findStock()" type="text" class="form-control" ng-model="nameStock" placeholder="Search for Stock">
  </div>
  <button ng-click="findStock()" type="button" class="btn btn-success">Add Stock</button>
</form>

<div class="container">
	<div class="row" id="anId">
		<a ng-click="addStock(stock)" ng-model="selectStock" ng-repeat="stock in stocks" class="col-xs-3 card" >
			<h2>{{stock.Symbol}}</h2>
			<h5>{{stock.Name}}</h5>
			<img src="stock3.png" alt="">
			<h5 class="exchange">{{stock.Exchange}}</h5>
		</a>
	</div>
</div>