.card {
	padding: 16px 8px 0px 8px;
	color: black;
}

.card h2 {
	background: green;
	margin: 0;
	padding: 20px;
	text-align: center;
}

.card h5 {
	background: orange;
	margin: 0;
	height: 100px;
	padding: 20px;
	text-align: center;
}

.card h4 {
	margin: 0;
	padding: 20px;
	text-align: center;
	background: LightSteelBlue;
}

.card:hover {
	text-decoration: none;
	cursor: pointer;
}