* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

.card {
	padding: 12px;
	color: black;
	width: 220px;
	text-align: center;
}

.card h2 {
	background: #333333;
	margin: 0;
	padding: 20px;
	color: #cc5200;
	text-align: center;
}

.card h5 {
	background: #404040;
	margin: 0;
	height: 60px;
	padding: 20px;
	text-align: center;
	color: #d9d9d9;
}

.card .exchange {
	margin: 0;
	padding: 15px 20px 15px 20px;
	text-align: center;
	background: #b34700;
	color: #d9d9d9;
	height: 46px;
}
.card .open {
	margin: 0;
	padding: 0px 10px 15px 10px;
	text-align: center;
	background: #b34700;
	color: #d9d9d9;
	height: 46px;
}

.card .btn-danger {
	margin-top: 10px;
	background-color: #990000;
}

.card .btn-danger:hover {
	margin-top: 10px;
	background-color: #cc0000;
}

.card:hover {
	text-decoration: none;
	cursor: pointer;
	background: #ccc;
}

#list:hover {
	background-color: white !important;
}

.card img {
	display: inline-block;
	width: 196px;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	background-color: #404040;
}